/* Sticks and Tones Compassion Tour */
:root {
  /* change the values below to your colors from your palette */
  /* remember to add linear gradients to background colors */
  --primary-color: #E1E1D7   ;
  --secondary-color: #1889E6 ; 
  --tertiary-color: #F7CCD3;
  --fourth-color: #B7EC8F;
  /* --accent1-color: #F5DB57; */
  --accent1-color: #001427;
  --accent2-color: #BF0603;
  --gradient1: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 50%, var(--tertiary-color) 92%);

  /* change the values below to your chosen font(s) */
  --heading-font: "Concert One", "Times New Roman", "serif";
  --paragraph-font: "Geologica", Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--secondary-color);  /* headlines on a white background */ 
  --headline-color-on-color: var(--accent1-color); /* headlines on a colored background */ 
  --paragraph-color-on-white: black; /* paragraph text on a white background */ 
  --paragraph-color-on-color: black; /* paragraph text on a colored background */ 
  --paragraph-background-color: var(--tertiary-color)  ;
  --nav-link-color:  var(--accent1-color);
  --nav-background-color: ;
  --nav-hover-link-color: var(--accent1-color);
  --nav-hover-background-color: var(--accent2-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-image: var(--gradient1);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
.header-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr; 
}
nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
}
ul {
  list-style-type: none;
}
.map-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.container {
display: grid;
grid-template-columns: 1fr;
place-items: center;
}
.hover {
  height: 30vmin;
  width: 25vmin;
  transform: rotateX(51deg) rotateZ(43deg);
  transform-style: preserve-3d;
  border-radius: 32px;
  box-shadow: 1px 1px 0 1px red, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;

  &:hover {
    transform: translate3d(0px, -16px, 0px) rotateX(51deg) rotateZ(43deg);
    box-shadow: 1px 1px 0 1px #1212e1, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      54px 54px 28px -10px rgba(34, 33, 81, 0.15);
  }
}
